---
import ContactForm from "../components/ContactForm.astro";
import FormScripts from "../components/FormScripts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="お問い合わせフォーム｜ヤマトワークス" description="" keywords="" robots="noindex" bodyClass="">
  <div class="stage odd">
    <div class="wrapper contact">
      <h2 class="title">お問い合わせフォーム</h2>
      <!--メールフォーム用のHTMLタグはここから-->
      <ContactForm />
      <FormScripts />
      <!--ここまでコピー＆ペーストすればまず間違いないです-->
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->
</BaseLayout>
