---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="特定商取引に関する表記｜ヤマトワークス" robots="noindex">
  <div class="stage odd">
    <div class="wrapper law">
      <h2 class="title">特定商取引に関する表記</h2>
      <div class="overflow-x">
        <table>
          <tr>
            <th>運営団体名</th>
            <td>ヤマトワークス（個人事業主）</td>
          </tr>
          <tr>
            <th>運営責任者</th>
            <td>新沼たかし</td>
          </tr>
          <tr>
            <th>サービス内容</th>
            <td>WEB制作、各種デザイン＆印刷、パソコンサポート</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>岩手県大船渡市盛町字権現堂12-1</td>
          </tr>
          <tr>
            <th>電話・ファックス</th>
            <td>0192-22-8418（Fax兼用）</td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>info@yamatoworks.net</td>
          </tr>
          <tr>
            <th>販売価格</th>
            <td>表示されている価格には消費税が含まれております。</td>
          </tr>
          <tr>
            <th>商品代金以外の費用</th>
            <td>送料、振込手数料、代引き手数料</td>
          </tr>
          <tr>
            <th>代金のお支払い方法</th>
            <td>
              銀行振込、代金引換、払込票による支払い
              <br />※取引商品によっては、代金引換や払込票には対応できかねます。
            </td>
          </tr>
          <tr>
            <th>納品方法</th>
            <td>WEB制作（アップロード、郵送）、その他（宅配便にて）</td>
          </tr>
          <tr>
            <th>キャンセル</th>
            <td>既に制作している分の費用はご請求させていただきます。</td>
          </tr>
          <tr>
            <th>返品・交換</th>
            <td>商品に問題がありましたら、到着後7日以内にお申し出ください。</td>
          </tr>
        </table>
      </div><!-- /.overflow-x -->
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->
</BaseLayout>
