<form id="mailform" class="mailform" method="post" action="https://ssgform.com/s/WbCUteLMpgRw">
  <table>
    <tr>
      <th>名前<span>*</span></th>
      <td><input type="text" name="お名前(必須)" placeholder="大和栄蔵" class="text" required="required" /></td>
    </tr>
    <tr>
      <th>メールアドレス<span>*</span></th>
      <td><input type="email" name="email(必須)" placeholder="aaa@bbb.com" class="text" required="required" /></td>
    </tr>
    <tr>
      <th>確認メールアドレス<span>*</span></th>
      <td><input type="email" name="confirm_email" placeholder="aaa@bbb.com" class="text" required="required" /></td>
    </tr>
    <tr>
      <th>お問い合わせ内容<span>*</span></th>
      <td>
        <input type="checkbox" name="お問い合わせ内容(必須)" value="WEB制作" id="chk1" />
        <label for="chk1">WEB制作</label><br class="hidden-md" />
        <input type="checkbox" name="お問い合わせ内容(必須)" value="各種印刷デザイン" id="chk2" />
        <label for="chk2">各種印刷デザイン</label><br class="hidden-md" />
        <input type="checkbox" name="お問い合わせ内容(必須)" value="パソコンサポート" id="chk3" />
        <label for="chk3">パソコンサポート</label><br class="hidden-md" />
        <input type="checkbox" name="お問い合わせ内容(必須)" value="その他" id="chk4" />
        <label for="chk4">その他</label>
      </td>
    </tr>
    <tr>
      <th>ご用件<span>*</span></th>
      <td><textarea name="ご用件(必須)" placeholder="こちらにご用件を。" required="required"></textarea></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><input type="text" name="郵便番号" placeholder="029-2205" class="yubin" /></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><input type="text" name="住所" placeholder="東京都港区芝1-234" class="text" /></td>
    </tr>
    <tr>
      <th><span>*</span>印 必須</th>
      <td><input type="submit" value="送信する" id="submit" /><input type="reset" name="reset" value="リセット" id="reset" /></td>
    </tr>
  </table>
</form>
